@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

:root{
    --sans-font:
    -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --slab-font:
    'Slabo 13px';

    --primary-color: #1d2327;
    --primary-dark: #13191c;

    --accent-color:#da3500;
    --secondary-color: #2196f3;

    --light-color: #ebebeb;
    --lightest-color:white;
    --mid-color:#5b5b5b;
    --darkest-color:black;

    --down-box-shadow:0 4px 6px
    rgba(0,0,0,0.25),0 4px 2px rgba(0,0,0,0.3);
    --top-box-shadow:0 0 6px
    rgba(0,0,0,0.25),0 0 2px rgba(0,0,0,0.3);
    --up-box-shadow:0 -4px 6px
    rgba(0,0,0,0.5),0 -4px 2px rgba(0,0,0,0.3);

    --ver-linear-gradient:linear-gradient(190deg, transparent 0%, var(--mid-color) 10%, var(--mid-color) 58%, transparent 100%);
    --hor-linear-gradient:linear-gradient(90deg, transparent 0%, var(--mid-color) 10%, var(--mid-color) 38%, transparent 90%);
}

a{
    word-break: break-word;
}
img{max-width:100%;}

div.MrHide-error{
    background-color:var(--light-color);
    padding:4px;
    border:1px dashed var(--accent-color);
    margin:4px;
}div.MrHide-error>b{color:var(--accent-color);}

html,body{
    padding:0;
    margin:0;
    /* background-color:var(--light-color); */
}
*{
    font-family:
    var(--slab-font);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6,.ui{
    font-family:var(--sans-font);
}

h2.section-heading{
    display: flex;
    font-size: 0.9em;
    opacity: 0.8;
    align-items: center;
}
h2.section-heading>span,h2.section-heading>a{
    /* padding-right:0.4em; */
    /* text-decoration:none; */
    margin-right: 0.3em;
}
h2.section-heading>a{
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--lightest-color);
    padding: 0.1em 0.7em;
    border-radius: 1em;
    font-family: var(--sans-font);
    font-weight: normal;
    font-size: 0.9em;
}
h2.section-heading>hr{
    flex-grow:1;
    border:
    none;
    /* border-bottom:1px dashed var(--primary-color); */
}


details.navigation{
    padding: 1.5em 1em 0.5em 0;
}details.navigation ul,details.navigation ol{
    margin: 0;
}details.navigation ul{
    list-style-type: square;
}details.navigation a{
    text-decoration:
    none;
    display:
    block;
    font-size: 0.9em;
    color: var(--secondary-color);
    font-family: var(--sans-font);
    padding: 0 0.7em 0.5em 0;
    line-height:1;
}details.navigation summary{
    margin:0;
    padding:0;
    margin-bottom:0.5em;
    font-size:1.2em;
    color: var(--primary-dark);
    font-weight: normal;
}details.navigation summary:after{
    margin-top:0.3em;
}

nav.page-navigation+article{
    padding-top:0;
    margin-top:0;
}


article ol{
    counter-reset: ol;
    list-style: none;
    padding-bottom: 0.5rem;
    padding-left: 0;
}
    article ol li{
        padding-left:0.5em;
        display:flex;
    }
    article ol li:before{
        font-size: 1.1em;
        margin-right: 1em;
        content: counters(ol,'.');
        counter-increment: ol;
        font-weight: bold;
        min-width: 0.9em;
    }

footer{
    font-size:0.9em;
    color:
    var(--mid-color);
    padding:0.4em 1em;
    text-align:
    center;
    /* position:absolute; */
    width:100%;
    /* bottom:0; */
    margin-top:1em;
}

header.main{
    background-color:
    var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* margin-bottom: 1.5em; */
}header.main+*{
    padding-top: 1.5em !important;
}

img.featured-image{
    width:100%;
    border: 1px solid var(--light-color);
}

div.main-container{
    max-width: 32cm;
    margin:0 auto;
    padding: 0 1em;
}

div.main-container.with-sidebar{
    display: flex;
    /* box-shadow: var(--top-box-shadow); */
    padding:0;
}

main.page,main.post{
    padding:1em;
    background-color: var(--lightest-color);
}

nav.main{
    padding: 0;

    margin:0;
}
    header.main a{
        display:
        inline-block;
        padding: 0.3em 0.5em;
        text-decoration:
        none;
        color: var(--light-color);

    }
main:before{
    margin: 1em 0 0 -1em;
}

*.ver-linear-gradient-before:before,
*.ver-linear-gradient-after:after{
    background-image:
    var(--ver-linear-gradient);
    content:
    '|';
    color:
    transparent;
    display:
    block;
    width: 1px;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    user-select: none;
}

*.hor-linear-gradient-before:before,
*.hor-linear-gradient-after:after{
    background-image:
    var(--hor-linear-gradient);
    content:
    '|';
    color:
    transparent;
    display:block;
    width: 100%;
    height: 1px;
    opacity:0.2;
    user-select: none;
}



aside.sidebar{
    padding: 2em 0.5em 0 1em;
    background-color: var(--lightest-color);
    text-align:
    right;
    min-width: 17em;
    max-width: 17em;
}aside.sidebar:before{
    left:17em;
    position: absolute;
}

aside.sidebar div.widget h2{
    font-size:1.2em;
    color:
    var(--dark-color);
    margin: 0 0 0.5em 0;
    text-align:center;
}

aside.sidebar div.widget p,aside.sidebar div.widget a{
    font-size:0.8em;
    color: var(--mid-color);
}
aside.sidebar div.widget p{
    text-align:justify;
}
aside.sidebar a{
   display: block;
   text-decoration: none;
   margin: 0.7em 0;
}
aside.sidebar a:hover{
    color: var(--dark-color);
}
aside.sidebar a::first-line{
    font-weight:bold;
    color:var(--darkest-color);
}
aside.sidebar a:hover::first-line{
    color:var(--secondary-color);
}
aside.sidebar div.widget{
    padding:0.9em;
}aside.sidebar div.widget.article-preview{
    box-shadow: var(--top-box-shadow);
    border-radius: 0.3em;
}

aside.sidebar div.widget.article-preview a{
    display:block;
    color:var(--secondary-color)
}


header.main a.logo-home{
    padding:0.5em;
}
header.main a.logo-home>img{
    height:1em;
    border-radius:0.5em;
    margin-right:4px;
}
header.main a.logo-home>*{
    vertical-align:middle;
}
header.main nav a{
    opacity:0.7;
}
header.main nav a:hover,header.main nav a.current{
    text-decoration: underline;
    opacity:1;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent-color);
    text-underline-position: under;
    text-decoration-skip-ink: none;
}

main h1{
    margin:0.05em 0;

}
nav.categories>*{
    /* background-color:var(--light-color); */
    display:
    inline-block;
    padding:0.2em 0.4em;
    margin-right:0.2em;
    text-transform:
    uppercase;
    color:
    var(--accent-color);
    font-size:0.7em;
    font-weight:
    bold;
    border-radius:0.5em;
    opacity:0.7;
}

main header.article-header{
    padding:0.5em;
    margin-bottom:0.5em;
    /* border-bottom:1px solid var(--light-color); */
    font-size:0.9em;
}main header.article-header:after{
    margin-top: 0.5em;
}
article{
    padding:0.5em;
    text-align:justify;
}

article a{
    color:
    var(--accent-color);
    text-decoration:none;
}article a:hover{text-decoration:underline;}



nav.topics{
    display:flex;
    font-size: 0.9em;
    align-items: center;
    margin: 1em auto;
    max-width:80%;
}
nav.topics>i{
    padding-right: 0.4em;
    font-size: 2em;
    color: var(--primary-dark);
}
nav.topics>div{
    text-align:justify;
}
nav.topics>div>*{
    display:inline-block;
    color:var(--secondary-color);
}





div.user-profile{
    text-align:
    center;
    padding: 0 1em 1em 1em;
    color: var(--lightest-color);
    background-color: var(--primary-color);
}
div.user-profile a{
    color: var(--lightest-color);
    text-decoration:
    none;
    display:
    inline-block;
    font-size:0.8em;
    margin-right:4px;
}
div.user-profile a>i{
    margin-right:3px;

}
div.user-profile>*{
    display:
    inline-block;
    vertical-align: middle;
    text-align:
    left;
    /* max-width: 30em; */
}
    div.user-profile img{
        height: 7em;
        width: 7em;
        border-radius: 4em;
        margin-right:1em;
    }
div.user-profile p{
    /* color:
    var(--mid-color); */
    opacity: 0.7;
    max-width: 30em;
    margin: 1em auto 0 auto;
}

div.user-profile h2{
    margin: 0.4em 0 0 0;
    font-family: var(--slab-font);
}
div.user-profile>div>span{
    font-size:0.7em;
    /* color:var(--mid-color); */
    display:
    block;
    margin-bottom:0.4em;
    opacity: 0.7;
}



div.preview-list{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
div.preview-list section{
    width: calc(33% - 1em);
    box-shadow: var(--top-box-shadow);
    padding: 1em;
    background-color:
    var(--lightest-color);
    overflow: hidden;
    border-radius: 0.5em;
    flex-grow: 1;
}

div.preview-list section:first-child{
    /* flex-grow:1; */
}
div.preview-list div.simple-author{
    font-size: 0.8em;
}
div.preview-list section a{
    text-decoration:none;
    color:unset;
    display:block;
}
div.preview-list section img{
    width: calc(100% + 2em);
    object-fit: cover;
    height: 50%;
    margin: -1em -1em 0 -1em;
    max-width: calc(100% + 2em);
}
div.preview-list section b{
    /* font-size: 0.7em; */
    /* opacity:0.7; */
}
div.preview-list section h3,div.preview-list section p{
    margin:0.1em 0;
}
div.preview-list section p{
    text-align:justify;
    font-size:0.9em;
    margin-top:0.5em;
    padding-top:0.5em;
}


div.preview-small-section{
    margin-top:3em;
    background-color: var(--light-color);
    padding:0.2em 1em;
    border-radius: 0.3em;
    box-shadow:inset 0 0 4px 2px rgba(0,0,0,0.025)
}
div.preview-small-section>section{
    padding: 0.6em;
    border-radius: 0.1em;
    margin: 1em 0;
    align-items: flex-start;
    flex-direction: row;
}div.preview-small-section>section:hover{
    box-shadow: var(--top-box-shadow);
}
div.preview-small-section>section a{
    display:flex;
    text-decoration:none;
    color:unset;
}
section.preview-small-item img{
    height:3em;
}
div.preview-small-section>section div{
    flex-grow: 1;
    padding-left:1em;
    overflow: hidden;
}
div.preview-small-section>section p{
    margin: 0.4em 0 0 0;
    font-size:0.9em;
    white-space: nowrap;
    /* overflow:
    hidden; */
    text-align: justify;
}



@media (max-width:1025px){
    div.preview-list section{
        width: calc(50% - 1em);
    }

    aside.sidebar{
        display:none;
    }main.page:before{
        display:none;
    }
}


@media (max-width:769px){
    div.user-profile>*{
        display:
        block;
        text-align:center;
    }
    div.user-profile img{
        margin-right:0;
    }
    div.preview-list section{
        width: 100%;
    }
    div.preview-small-section>section p{
        display:none;
    }
}
