<<header>>
<div class='main-container with-sidebar'>
    <aside class="sidebar">
        <div class="widget">
            <h2>Latest changes</h2>
            <a class="Link--primary line-clamp-2" href="https://github.blog/changelog/2022-08-16-github-enterprise-server-3-6-is-now-generally-available">GitHub Enterprise Server 3.6 is now generally available</a>
            <a class="Link--primary line-clamp-2" href="https://github.blog/changelog/2022-08-16-download-data-stored-in-your-npm-account-by-placing-an-export-request">Download data stored in your npm account by placing an export request</a>
            <a class="Link--primary line-clamp-2" href="https://github.blog/changelog/2022-08-16-uniwise-is-now-a-github-secret-scanning-partner">UNIwise is now a GitHub secret scanning partner</a>
            <a class="Link--primary line-clamp-2" href="https://github.blog/changelog/2022-08-15-github-enterprise-cloud-customers-can-configure-audit-log-streaming-to-aws-s3-with-openid-connect-oidc-public-beta">GitHub Enterprise Cloud customers can configure audit log streaming to AWS S3 with OpenID Connect (OIDC) – Public Beta</a>
        </div>
        <div class="widget article-preview">
            <h2>A bautiful day</h2><img id="class=''" src="https://luiscorreal.github.io/MrHide/assets/featured/facebook-sound-collection-small.png" onerror="this.onerror=null; this.src='featured/facebook-sound-collection.png'">
            <p>GitHub Enterprise Server 3.6 is now generally available UNIwise is now a GitHub secret scanning partnerGitHub Enterprise Cloud customers can configure audit log streaming to AWS S3 with OpenID Connect</p><a class="Link--primary line-clamp-2" href="https://github.blog/">Read more</a>
        </div>
    </aside>
    <main class='page ver-linear-gradient-before'>
        <<articleHeader:page>>
        <<featuredImage>>
        <<onReady:pageNavigation,h2,h3>>
        <article><<contents>></article>
        <<topics>>
        <<onReady:referencesList>>
        <<previewSmallList:posts,0,2>>
    </main>
</div>
<<footer>>
